.back-to-all-pages-button-wrapper{
  display: block;
  position: absolute;
}
.back-to-all-pages-button{
  color: white;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: Ubuntu, sans-serif;
  background-color: cornflowerblue;
  display: inline-block;
  border-radius: 10px;
  // border: 2px solid white;
  transition: transform .35s ease;
  perspective-origin: left;
  padding: 10px;
  margin: 10px;
}
.back-to-all-pages-button::before{
  content: '';
  display: block;
  margin-top: 2px;
  position: absolute;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid white;
}
.back-to-all-pages-button:hover{
  transform: scale(1.05);
  animation: point .35s 2;
}

@keyframes point{
  0% {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  50% {
    padding: 8px;
    margin-top: 11px;
    margin-left: 2px;
  }
  100% {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
}
