$width: 100%;

.book{
  margin: 10px;
  width: $width - 10 + px;
  height: 80%;
  display: block;
  color: cornflowerblue;
  border-radius: 0px;
  padding-bottom: 30px;
  background-color: cornflowerblue;
  border: 2px solid white;
}
