$width: 100;
$height: 100;

.page-ui-inline{
  display: inline-block;
  position: relative;
}
.page-ui-wrap{
  display: table;
  margin: 10px;
}
.page-ui-inner{
  color: cornflowerblue;
  cursor: pointer;
  overflow: hidden;
  line-height: 1em;
  width: $width+px;
  height: $height+px;
  word-wrap: break-word;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px;
  transition: transform .35s ease;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: white;
  border: 2px dashed cornflowerblue;
  font-family: 'Ubuntu', sans-serif;
}
.page-ui-inner:hover{
  transform: scale(1.1);
}
/*.x-delete-page-button{
  position: absolute;
  font-weight: bold;
  font-family: Ubuntu, sans-serif;
  background-color: cornflowerblue;
  color: white;
  top: -2px;
  right: -2px;
  padding: 2px 8px;
  border-radius: 4px;
  transform: scale(1.2);
  transition: transform .35s ease;
  z-index: 50;
}
.x-delete-page-button:hover{
  transform: scale(1.4) rotate(180deg);
}
.x-delete-page-inner{
  position: relative;
  top: -2px;
}
.page-ui-label{
}*/
